.divcss5-x2-header{ }
.divcss5-x2{ padding-bottom:3px; border-bottom:2px solid}
.divcss5-x2-r{ padding-bottom:3px; border-bottom:5px solid #FFE0E0}
.divcss5-x2-b{ padding-bottom:3px; border-bottom:5px solid #D4E7E9}
.divcss5-x2-y{ padding-bottom:3px; border-bottom:5px solid #FCF3D8}
.rcolor{color: #ff5959}

body{
	overflow-x: hidden;
	padding-left: 1em;
	padding-right: 1em;
	font-size: 18px;
	-webkit-text-size-adjust: none;
}

header,
footer {
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 25px 0px;
}

header a,
footer a {
	color: #555;
	text-align: center;
}

h1,
h2,
strong {
	color: #233142;
	text-align: center;
}

h2 {
}

hr {
	border: 1px solid #F0F0F0;
	width: 100%;
}

a {
	color: #ff5959;
	text-decoration: none;
}

code,
pre,
xmp {
	background: #ffffff;
	border-bottom: 0.01em solid #d8dee9;
	color: #a7adba;
}

code {
	padding: 1em 2em;
	vertical-align: text-bottom;
}

pre,
xmp {
	padding: 1em;
	border-left: 0.1em solid #4f9da6;
}

button {
	background-color: #ffffff;
	border: none;
	position: relative;
	top: -2px;
}

.clear{ clear:both}

.Info {
	position: relative;  
	margin: 0 auto;
	background-color: #f0f0f0;
}

.NavLeft {
	width: 100%;
    float: left;
    color: #555555;
    text-align: center;
}

.NavRight {
	margin-top: 1em;
	margin-bottom: 1em;    float: right;
    color: #555555;
    text-align: center;
    width: 100%;
    border: solid;
    border-left: 0;
    border-right: 0;
    border-width: 2px;
    border-style: solid;
}

.NavLogo {
    float: left;
    margin-top: 13px;
}

.NavName {
    float: right;
    margin-left: 15px;
    margin-top: 24px;
}

.NavUl {
    margin: 0;
    padding: 0;
}

.NavList {
    list-style: none;
    position: relative;
    margin: 0 auto;
    width: 100%;
}

.NavLi {
	margin: 1em auto;
}

.Ad {
	z-index: 9999;
	position:
	fixed ! important;
	right: 3%;
	bottom: 30px;
}

.Intro {
	width: 100%;
	padding-top: 6em;
	padding-bottom: 80px;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
}

.IntroMid {
	min-height: 483px;
	padding-top: 30px;
	padding-bottom: 80px;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
}

.IntroBox {
	margin-top: 2em;
	width: 100%;
	text-align: center;
}

.IntroBoxBreak {
	width: 100%;
}

.Search {
	text-align: center;
	margin-top: 1em;
}

.MenuBox {
	width: 150px;
	margin-top: 20px;
	margin-bottom: 30px;
}

.Subscribe {
	min-height: 450px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 50px;
}

.Subscribe_box_l {
	padding-top: 1em;
	width: 100%;
	word-wrap: break-word;
	text-align: left;
}

.Subscribe_box_r {
	word-wrap: break-word;
	width: 90%;
	margin-top: -4em;
}

.Subscribe_left {
	padding-left: 2em;
	padding-top: 0em;
	background-color: #F0F0F0;
	display: none;
}

.Subscribe_right {
	padding-right: 2.5em;
	padding-left: 2em;
	padding-top: 2em;
	background-color: #F0F0F0;
}

.ListBox{
	width: 100%;
	margin:0 auto;
	align-items: left;
	flex-wrap: wrap;
	justify-content: space-around;
}

.ItemBox {
	width: 100%;
	min-height: 13em;
	word-wrap: break-word;
	padding: 0.5em;
	margin: 0.5em;
}

.Content{
	margin-top: 60px;
	margin-bottom: 100px;
}

.About{
	padding-top: 50px;
	padding-bottom: 100px;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.pubuBox{
    float: left;
    padding-top: 10px;
}
.boxImg{
	z-index: 11;
	float: left;
	position: relative;
	transition: all 0.1s;
    box-shadow: 0 0 5px #ccc;
}
.boxImg:hover{
	z-index: 9;
	filter: brightness(0.45);
	opacity: 0.95;
	transition: all 0.1s;
}
.boxImgTitle{
	z-index: 10;
	position: absolute;
	padding-top: 1em;
	padding-left: 2em;
	padding-right: 2em;
	color: #ffffff;
}
.boxImgTitle:hover{
	z-index: 12;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]{
  -moz-appearance: textfield;
}