.divcss5-x2{ padding-bottom:3px; border-bottom:2px solid}
.divcss5-x2-r{ padding-bottom:3px; border-bottom:5px solid #FFE0E0}
.divcss5-x2-b{ padding-bottom:3px; border-bottom:5px solid #D4E7E9}
.divcss5-x2-y{ padding-bottom:3px; border-bottom:5px solid #FCF3D8}
.rcolor{color: #ff5959}

html,body { -webkit-text-size-adjust:none; }

body{
	width: 70%;
	min-width: 930px;
	max-width: 1080px;
	padding-left: 100px;
	padding-right: 100px;
	margin: auto;
	font-size: 18px;
	-webkit-text-size-adjust: none;
}

header,
footer {
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 25px 0px;
}

header a,
footer a {
	color: #555;
}

h1,
h2,
strong {
	color: #233142;
}

h2 {
}

hr {
	border: 1px solid #F0F0F0;
	width: 100%;
}


a {
	color: #ff5959;
	text-decoration: none;
}

code,
pre,
xmp {
	background: #ffffff;
	border-bottom: 0.01em solid #d8dee9;
	color: #a7adba;
}

code {
	padding: 1em 2em;
	vertical-align: text-bottom;
}

pre,
xmp {
	padding: 1em;
	border-left: 0.1em solid #4f9da6;
}

button {
	background-color: #ffffff;
	border: none;
	position: relative;
	top: -2px;
}

.clear{ clear:both}

.NavLeft {
    float: left;
    color: #555555;
}

.NavRight {
    float: right;
    color: #555555;
    text-align: right;
}

.NavLogo {
    float: left;
    margin-top: 13px;
}

.NavName {
    float: right;
    margin-left: 15px;
    margin-top: 24px;
}

.NavList {
    float: left;
    list-style: none;
}

.Ad {
	z-index: 9999;
	position:
	fixed ! important;
	right: 3%;
	bottom: 30px;
}

.Intro {
	min-height: 520px;
	padding-top: 30px;
	padding-bottom: 80px;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
}

.IntroMid {
	min-height: 483px;
	padding-top: 30px;
	padding-bottom: 80px;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
}

.IntroBox {
	width: 45%;
}

.IntroBoxBreak {
	width: 8%;
}

.MenuBox {
	width: 150px;
	margin-top: 20px;
	margin-bottom: 30px;
}

.Subscribe {
	min-height: 450px;
	padding-right: 0;
	padding-left: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 50px;
}

.Subscribe_box_l {
	padding-top: 120px;
	width: 40%;
	word-wrap: break-word;
	text-align: left;
}

.Subscribe_box_r {
	word-wrap: break-word;
	width: 60%;
	margin-top: -30px;
}

.ListBox{
	width: 100%;
	margin:0 auto;
	align-items: left;
	flex-wrap: wrap;
	justify-content: space-around;
}

.ItemBox {
	width: 100%;
	min-height: 13em;
	word-wrap: break-word;
	padding: 0.5em;
	margin: 0.5em;
}

.Content{
	margin-top: 60px;
	margin-bottom: 100px;
}

.About{
	padding-top: 50px;
	padding-bottom: 100px;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]{
  -moz-appearance: textfield;
}