<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Bing16/浮光掠影</title>
<link rel="stylesheet" href="css/csslider.css" />
<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" media="screen"/>
<script src="https://cdn.bootcss.com/vue/2.5.20/vue.min.js"></script>
</head>

<body>
    <!-- Header -->
    <header id="navHead">
        <my-nav></my-nav>
    </header>

    <marquee behavior="scroll" direction="left" class="Info">
        【2021-01-01】当前样式尚未对移动端竖屏设备适配，推荐横屏访问。
    </marquee>

    <div class="Intro">
        <!-- 欢迎语 -->
        <div class="IntroBox" style="position: relative; top: -1em">
            <h2>浮光掠影</h2><p>浮光随日度，漾影逐波深。<div align="right">——《临高赋》褚亮</div></p>
        </div>

        <div class="IntroBox" id="picture" style="position: relative; top: -3em">
        </div>
    </div>

    <div class="clear"></div>
    
    <hr>

    <div id="fgly">
        <div class="Content">
            <div class="ListBox">
                <span  v-for="(item, index) in items">
                    <div class="ItemBox" v-if="index >= 10*(pageNum-1) && index < 10*pageNum" >
                        <h3>{{ item.title }}</h3>
                        <p>{{ item.intro }}<div><a v-bind:href="item.href">more</a><br><font size="-1"><span v-for="type in types"><span v-if="type.type==item.type"><a v-bind:href="type.href">[{{ type.type }}]</a></span></span></font></div></p>
                    </div>
                </span>
            </div>
        </div>
        <div align="right">
            <table><tbody>
                <tr align="center">
                    <td width="50em"><button v-if="pageNum!=1" v-on:click="pageNum -= 1">←</button><button v-else>←</button></td>
                    <td width="100em"><input type="number" v-model="pageNum" v-bind:oninput="'if (value < 1) {value = 1} if (value>'+Math.ceil(items.length / 10)+') {value = Math.ceil(items.length / 10)}'" style="width: 2em; text-align: center; font-size: 0.9em"> / {{ Math.ceil(items.length / 10) }}</td>
                    <td width="50em"><button v-if="pageNum!=Math.ceil(items.length / 10)" v-on:click="pageNum += 1">→</button><button v-else>→</button></td>
                </tr>
            </tbody></table>
        </div>
    </div>

    <hr>

    <div class="Subscribe" id="subscribe">
        <div class="Subscribe_box_l">
            <h2><span class="divcss5-x2-r">订阅重要动态</span></h2>
            <p>每当有以下动态时，将会直接发送到你的邮箱：</p>
                    <ul>
                        <li>网站域名变更</li>
                        <li>推出新的网站</li>
                        <li>推出非常值得分享的内容</li>
                    </ul>
        </div>
        <div class="Subscribe_box_r" align="right">
            <table style="margin-top: 6em"><tbody><tr>
                <td></td>
                <td>
                    <table cellpadding="0em" cellspacing="0px" border="0px"><tbody>
                        <tr height="330">
                            <td bgcolor="#F0F0F0" style="padding-left: 2em; padding-top: 0em">
                                <table style="word-wrap:break-word;word-break:break-all;background-color: #ffffff" border="1px"><tbody>
                                    <tr>
                                    <td>
                                        <div style="width: 11em;height: 11em"><div style="font-size: 0.7em">
                                            【Bing16】订阅重要动态<hr>
                                            <div style="margin-left: 0.5em">
                                                用户名：{{userName}}<br>
                                                邮箱：{{userEmail}}<br><br>
                                                订阅主题：<br>
                                                <span v-for="(content,index) in contents" v-if="index!=contents.length-1">{{content}},
                                                </span><span v-for="(content,index) in contents" v-if="index==contents.length-1">{{content}}</span>
                                            </div>
                                        </div></div>
                                    </td>
                                </tr></tbody></table>
                            </td>
                            <td bgcolor="#F0F0F0" style="padding-right: 2.5em; padding-left: 2em; padding-top: 2em">
                                <div style="width: 12em">
                                <p align="left">Name<br><input type="text" placeholder="在这里输入名字喔！" v-model="userName" style="width: 15em"></p>
                                <p align="left">Email<br><input type="text" placeholder="在这里输入邮箱喔！" v-model="userEmail" maxlength="50" style="width: 15em"></p>
                                <p style="font-size: 0.6em">
                                    <input type="checkbox" id="乌有之乡" value="乌有之乡" v-model="contents"/>
                                    <label for="jack">乌有之乡</label>
                                    <input type="checkbox" id="随思乱想" value="随思乱想" v-model="contents"/>
                                    <label for="john">随思乱想</label>
                                    <input type="checkbox" id="浮光掠影" value="浮光掠影" v-model="contents"/>
                                    <label for="mike">浮光掠影</label>
                                </p>
                                <p align="right">
                                    <a v-bind:href="href+'用户名：'+userName+'%0d%0a'+'邮    箱：'+userEmail+'%0d%0a%0d%0a'+'订阅主题：'+'%0d%0a'+contents+'%0d%0a'+'%0d%0a'"><button style="color: #ff5959">提交</button></a>
                                </p>
                                </div>
                            </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr></tbody></table>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <Footer id="navFoot">
        <my-nav></my-nav>
        <my-statistic></my-statistic>
    </Footer>
</body>


<script type="text/JavaScript" src="./utils/headerComp.js"></script>
<script type="text/JavaScript" src="./utils/statisticComp.js"></script>
<script type='text/javascript' src="https://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script> 
<script type="text/JavaScript">
    Vue.component("my-nav", headerComp)
    Vue.component("my-statistic", statisticComp)

    pageTitle = "浮光掠影"

    var appNav = new Vue({
        el: "#navHead"
    })

    var appNav = new Vue({
        el: "#navFoot"
    })

    var appSubscribe = new Vue({
        el: "#subscribe",
        data: {
            userName: "",
            userEmail: "",
            contents: ["乌有之乡","随思乱想","浮光掠影"],
            href: "mailto:bingjiaqin@foxmail.com?subject=【Bing16】订阅重要动态&body="
        }
    })

    $.ajaxSetup({async:false})
    let fglyItems = []
    $.getJSON("./data/fgly.json", data=>fglyItems=data)

    var fgly = new Vue({
        el: "#fgly",
        data:{
            pageNum: 1,
            items: fglyItems.itmes,
            types: fglyItems.types
        }
    })

</script>

<style type="text/css">
    @import "./css/style.css";
</style>

</html>
