<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Bing16/浮光掠影</title>
<link rel="stylesheet" type="text/css" href="css/style.css" media="screen and (min-width:600px)"/>
<link rel="stylesheet" type="text/css" href="css/mstyle.css" media="screen and (max-width:600px)"/>
<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" media="screen"/>
<script src="https://cdn.bootcss.com/vue/2.5.20/vue.min.js"></script>
<script type="text/javascript" src="./utils/51la.js"></script>
</head>

<body>
    <!-- Header -->
    <header id="navHead">
        <header_form></header_form>
    </header>

    <marquee behavior="scroll" direction="left" class="Info">
        【2022-05-21】Hello, bing16 v3!
    </marquee>

    <div class="Intro">
        <!-- 欢迎语 -->
        <div class="IntroBox" style="position: relative; top: -1em">
            <h2>浮光掠影</h2><p>浮光随日度，漾影逐波深。<div align="right">——《临高赋》褚亮</div></p>
        </div>

        <div class="IntroBox" id="picture" style="position: relative; top: -3em">
        </div>
    </div>

    <div class="clear"></div>
    
    <hr>

    <div id="fgly">
        <div class="Content">
            <div class="ListBox">
                <span  v-for="(item, index) in items">
                    <div class="ItemBox" v-if="index >= 10*(pageNum-1) && index < 10*pageNum" >
                        <h3>{{ item.title }}</h3>
                        <p>{{ item.intro }}<div><a v-bind:href="item.href">more</a><br><font size="-1"><span v-for="type in types"><span v-if="type.type==item.type"><a v-bind:href="type.href">[{{ type.type }}]</a></span></span></font></div></p>
                    </div>
                </span>
            </div>
        </div>
        <div align="right">
            <table><tbody>
                <tr align="center">
                    <td width="50em"><button v-if="pageNum!=1" v-on:click="pageNum -= 1">←</button><button v-else>←</button></td>
                    <td width="100em"><input type="number" v-model="pageNum" v-bind:oninput="'if (value < 1) {value = 1} if (value>'+Math.ceil(items.length / 10)+') {value = Math.ceil(items.length / 10)}'" style="width: 2em; text-align: center; font-size: 0.9em"> / {{ Math.ceil(items.length / 10) }}</td>
                    <td width="50em"><button v-if="pageNum!=Math.ceil(items.length / 10)" v-on:click="pageNum += 1">→</button><button v-else>→</button></td>
                </tr>
            </tbody></table>
        </div>
    </div>

    <hr>

    <!-- 订阅 -->
    <div id="subscribe">
        <subscribe_form></subscribe_form>
    </div>

    <hr>

    <!-- Footer -->
    <Footer id="navFoot">
        <header_form></header_form>
        <statistic_form></statistic_form>
    </Footer>
</body>


<script type="text/JavaScript" src="./utils/header.js"></script>
<script type="text/JavaScript" src="./utils/statistic.js"></script>
<script type="text/JavaScript" src="./utils/subscribe.js"></script>
<script type='text/javascript' src="https://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script> 
<script type="text/JavaScript">
    pageTitle = "浮光掠影"

    var appNav = new Vue({
        el: "#navHead",
        components: {
            "header_form": headerForm
        }
    })


    var appNav = new Vue({
        el: "#navFoot",
        components: {
            "header_form": headerForm,
            "statistic_form": statisticForm
        }
    })

    var appSubscribe = new Vue({
        el: "#subscribe",
        components: {
            "subscribe_form": subscribeForm
        }
    })

    $.ajaxSetup({async:false})
    let fglyItems = []
    $.getJSON("./data/fgly.json", data=>fglyItems=data)

    var fgly = new Vue({
        el: "#fgly",
        data:{
            pageNum: 1,
            items: fglyItems.itmes,
            types: fglyItems.types
        }
    })

</script>

</html>
