<!doctype html>
<html ontouchmove>
<head>
<meta charset="utf-8" name="viewport" content="initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no,uc-fitscreen=yes">
<title>Bing16</title>
<link rel="stylesheet" href="css/csslider.css" />
<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" media="screen"/>
<script src="https://cdn.bootcss.com/vue/2.5.20/vue.min.js"></script>
<script type="text/javascript" src="./utils/51la.js"></script>
<script src="./utils/pubu.js"></script>
</head>

<body>
    <!-- Header -->
    <header id="navHead">
        <header_form></header_form>
    </header>

    <div id="marquee" class="Info">
        <my_marquee></my_marquee>
    </div>

    <!-- Body -->

    <div class="Intro" id="intro">
        <!-- 欢迎语 -->
        <div class="IntroBox">
            <h2>你好，欣喜相逢</h2>
            <p><span class="divcss5-x2-r">我就是我</span>。</p>
            <p>这里是我的个人网站，会有一些个人的<span class="divcss5-x2-b">项目记录</span>以及比较<span class="divcss5-x2-y">个人的随感</span>。</p>
            <p>如果你从别的地方找到这里，<span class="divcss5-x2-r" @click="showMessage">欢迎联系我</span>。</p>
        </div>

        <div class="IntroBoxBreak"></div>

        <!-- 照片 -->
        <div class="IntroBox" id="picture"><table width="100%"><tbody><tr><td>
            <div class="csslider">
                <input type="radio" name="slides" v-for="picture in pictures" v-if="picture.radioId=='slides_1'" v-bind:id="picture.radioId" checked/>
                <input type="radio" name="slides" v-for="picture in pictures" v-if="picture.radioId!='slides_1'" v-bind:id="picture.radioId"/>
                <ul>
                    <li v-for="picture in pictures">
                        <img v-bind:src="picture.src" v-bind:title="picture.title" width="100%">
                    </li>
                </ul>
                <div class="arrows">
                    <label v-for="picture in pictures" v-bind:for="picture.radioId"></label>
                </div>
                <div class="navigation">
                    <label v-for="picture in pictures" v-bind:for="picture.radioId"></label>
                </div>
            </div>
        </td></tr></tbody></table></div>
    </div>

    <div class="clear"></div>
    
    <hr>

    <div id = "mainPicture">
        <h2><span class="divcss5-x2-y">一些照片</span></h2>
        <div v-show = "group == ''" id = "container">
            <h3 align="center" @click="selectGroup('')">目录</h3>
            <div class = "pubuGroup" style="position: relative;">
                <div class = "pubuBox" v-for="group in pictures">
                    <div class="boxImgTitle" @click="selectGroup(group.group)">
                        <h3>{{ group.group }}</h3>
                        <div>{{ group.description }}</div>
                    </div>
                    <img class = "boxImg" v-bind:src="group.list[0].url" @click="selectGroup(group.group)" width="100%">
                </div>
            </div>
            <div class="clear"></div>
        </div>

        <div v-show = "group != ''" id = "subContainer">
            <h3 align="center">{{ group }}</h3>
            <div align="center" @click="selectGroup('')" style="padding-bottom: 1em;">🔙</div>
            <div class="pubuGroup" v-for="group in groupPicture" style="position: relative;">
                <div class = "pubuBox" v-for="picture in group.list">
                    <div class="boxImgTitle">
                        <h4>{{ picture.description }}</h4>
                    </div>
                    <img class="boxImg" v-bind:src="picture.url" width="100%">
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>

    <hr>

    <div class="Content">
        <div>
        <h2><span class="divcss5-x2-b">内容推荐</span></h2>

        <details id="yinCang" close>
            <summary>隐藏内容</summary>
            <ul>
                <li v-for="item in items">
                    <h3>{{item.title}}</h3>
                    <div>{{item.content}}</div>
                    <div align="right"><a target = "_blank" v-bind:href="item.href">more</a></div>
                </li>
            </ul>
        </details>
    </div>
    </div>

    <hr>

    <!-- 订阅 -->
    <div id="subscribe">
        <subscribe_form></subscribe_form>
    </div>

    <hr>

    <!-- Footer -->
    <Footer id="navFoot">
        <header_form></header_form>
        <statistic_form></statistic_form>
    </Footer>
</body>

<script type="text/JavaScript" src="./utils/header.js"></script>
<script type="text/JavaScript" src="./utils/marquee.js"></script>
<script type="text/JavaScript" src="./utils/statistic.js"></script>
<script type="text/JavaScript" src="./utils/subscribe.js"></script>
<script type="text/JavaScript" src="./utils/isMobile.js"></script>
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script type="text/JavaScript">
    pageTitle = "主页"

    var mobile_flag = isMobile();
    var link = document.createElement("link");
    link.rel = 'stylesheet';
    var head = document.head;
    if (mobile_flag) {
        link.href = './css/mstyle.css';
        head.appendChild(link);
    } else {
        link.href = './css/style.css';
        head.appendChild(link);
    }

    $.ajaxSetup({async:false})
    let yincangData = []
    let pictures = []
    let adData = {}
    let mainPictures = []
    $.getJSON("./data/yincang.json", data=>yincangData=data)
    $.getJSON("./data/ad.json", data=>adData=data)
    $.getJSON("./data/pic.json", data=>pictures=data)
    $.getJSON("./data/main_pic.json", data=>mainPictures=data)

    var appNav = new Vue({
        el: "#navHead",
        components: {
            "header_form": headerForm
        }
    })

    var marquee = new Vue({
        el: "#marquee",
        components: {
            "my_marquee": myMarquee
        }
    })

    var appNav = new Vue({
        el: "#navFoot",
        components: {
            "header_form": headerForm,
            "statistic_form": statisticForm
        }
    })

    var appIntro = new Vue({
        el: "#intro",
        data: {
            message: adData.message
        },
        methods: {
            showMessage: function(event) {
                alert(this.message)
            }
        }
    })

    var appPic = new Vue({
        el: "#picture",
        data: {
            pictures: pictures
        }
    })

    var appMainPic = new Vue({
        el: "#mainPicture",
        data: {
            group: "",
            pictures: mainPictures,
            groupPicture: mainPictures,
            screenWidth: document.body.clientWidth
        },
        methods: {
            selectGroup: function(group) {
                this.group = group
                this.groupPicture = mainPictures.filter(item => item.group == group)
            }
        },
        watch: {
            groupPicture: {
                handler() {
                    if (this.group == '') {
                        this.$nextTick(() =>  imgLocation('container', 'pubuBox', 'pubuGroup'))
                    } else {
                        setInterval("imgLocation('subContainer', 'pubuBox', 'pubuGroup')", 500)
                    }
                },
                deep: true
            },
            screenWidth: {
                handler() {
                    if (this.group == '') {
                        this.$nextTick(() =>  imgLocation('container', 'pubuBox', 'pubuGroup'))
                    } else {
                        this.$nextTick(() =>  imgLocation('subContainer', 'pubuBox', 'pubuGroup'))
                    }
                },
            }
        },
        mounted() {
            window.onresize = () => {
                this.screenWidth = document.body.clientWidth;
            };
        }
    })

    var appMenu = new Vue({
        el: "#menu",
        data: {
            items: [
            {title: "乌有之乡", text: "没有的地方，或者好地方", detail: "[一些项目记录]"},
            {title: "随思乱想", text: "当我在神游时，我在想些什么", detail: "[平日的所思所感]"},
            {title: "浮光掠影", text: "浮光随日度，漾影逐波深", detail: "[读/观后有感]"}
            ]
        }
    })

    var appYincang = new Vue({
        el: "#yinCang",
        data:{
            items: yincangData
        }
    })

    var appSubscribe = new Vue({
        el: "#subscribe",
        components: {
            "subscribe_form": subscribeForm
        }
    })

</script>

</html>
