<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Bing16</title>
<link rel="stylesheet" type="text/css" href="css/style.css" media="screen and (min-width:600px)"/>
<link rel="stylesheet" type="text/css" href="css/mstyle.css" media="screen and (max-width:600px)"/>
<link rel="stylesheet" href="css/csslider.css" />
<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" media="screen"/>
<script src="https://cdn.bootcss.com/vue/2.5.20/vue.min.js"></script>
</head>

<body>
    <!-- Header -->
    <header id="navHead">
        <my-nav></my-nav>
    </header>

    <marquee behavior="scroll" direction="left" class="Info">
        【2021-01-01】当前样式尚未对移动端竖屏设备适配，推荐横屏访问。
    </marquee>

    <!--悬浮窗-->
    <div class="Ad" id="ad">
        <a href="" v-on:click="showMessage"><img src="images/qr.png" width="80px" title="其他联系方式"></a>
    </div>

    <!-- Body -->

    <div class="Intro">
        <!-- 欢迎语 -->
        <div class="IntroBox">
            <h2>你好，欣喜相逢</h2>
            <p><span class="divcss5-x2-r">我就是我</span>。</p>
            <p>这里是我的个人网站，会有一些个人的<span class="divcss5-x2-b">项目记录</span>以及比较<span class="divcss5-x2-y">个人的随感</span>。</p>
            <p>如果你从别的地方找到这里，<span class="divcss5-x2-r">欢迎联系我</span>。</p>
        </div>

        <div class="IntroBoxBreak"></div>

        <!-- 照片 -->
        <div class="IntroBox" id="picture"><table width="100%"><tbody><tr><td>
            <div class="csslider">
                <input type="radio" name="slides" v-for="picture in pictures" v-if="picture.radioId=='slides_1'" v-bind:id="picture.radioId" checked/>
                <input type="radio" name="slides" v-for="picture in pictures" v-if="picture.radioId!='slides_1'" v-bind:id="picture.radioId"/>
                <ul>
                    <li v-for="picture in pictures">
                        <img v-bind:src="picture.src" v-bind:title="picture.title" width="100%">
                    </li>
                </ul>
                <div class="arrows">
                    <label v-for="picture in pictures" v-bind:for="picture.radioId"></label>
                </div>
                <div class="navigation">
                    <label v-for="picture in pictures" v-bind:for="picture.radioId"></label>
                </div>
            </div>
        </td></tr></tbody></table></div>
    </div>

    <div class="clear"></div>
    
    <hr>

    <div class="Content">
        <div>
        <h2><span class="divcss5-x2-y">内容推荐</span></h2>

        <details id="yinCang" close>
            <summary>隐藏内容</summary>
            <ul>
                <li v-for="item in items">
                    <h3>{{item.title}}</h3>
                    <div>{{item.content}}</div>
                    <div align="right"><a target = "_blank" v-bind:href="item.href">more</a></div>
                </li>
            </ul>
        </details>
    </div>
    </div>

    <hr>

    <div class="Subscribe" id="subscribe">
        <div class="Subscribe_box_l">
            <h2><span class="divcss5-x2-r">订阅重要动态</span></h2>
            <p>每当有以下动态时，将会直接发送到你的邮箱：</p>
                    <ul>
                        <li>网站域名变更</li>
                        <li>推出新的网站</li>
                        <li>推出非常值得分享的内容</li>
                    </ul>
        </div>
        <div class="Subscribe_box_r" align="right">
            <table style="margin-top: 6em"><tbody><tr>
                <td></td>
                <td>
                    <table cellpadding="0em" cellspacing="0px" border="0px"><tbody>
                        <tr height="330">
                            <td bgcolor="#F0F0F0" style="padding-left: 2em; padding-top: 0em">
                                <table style="word-wrap:break-word;word-break:break-all;background-color: #ffffff" border="1px"><tbody>
                                    <tr>
                                    <td>
                                        <div style="width: 11em;height: 11em"><div style="font-size: 0.7em">
                                            【Bing16】订阅重要动态<hr>
                                            <div style="margin-left: 0.5em">
                                                用户名：{{userName}}<br>
                                                邮箱：{{userEmail}}<br><br>
                                                订阅主题：<br>
                                                <span v-for="(content,index) in contents" v-if="index!=contents.length-1">{{content}},
                                                </span><span v-for="(content,index) in contents" v-if="index==contents.length-1">{{content}}</span>
                                            </div>
                                        </div></div>
                                    </td>
                                </tr></tbody></table>
                            </td>
                            <td bgcolor="#F0F0F0" style="padding-right: 2.5em; padding-left: 2em; padding-top: 2em">
                                <div style="width: 12em">
                                <p align="left">Name<br><input type="text" placeholder="在这里输入名字喔！" v-model="userName" style="width: 15em"></p>
                                <p align="left">Email<br><input type="text" placeholder="在这里输入邮箱喔！" v-model="userEmail" maxlength="50" style="width: 15em"></p>
                                <p style="font-size: 0.6em">
                                    <input type="checkbox" id="乌有之乡" value="乌有之乡" v-model="contents"/>
                                    <label for="jack">乌有之乡</label>
                                    <input type="checkbox" id="随思乱想" value="随思乱想" v-model="contents"/>
                                    <label for="john">随思乱想</label>
                                    <input type="checkbox" id="浮光掠影" value="浮光掠影" v-model="contents"/>
                                    <label for="mike">浮光掠影</label>
                                </p>
                                <p align="right">
                                    <a v-bind:href="href+'用户名：'+userName+'%0C'+'邮    箱：'+userEmail+'%0C%0C'+'订阅主题：'+'%0C'+contents+'%0C'"><button style="color: #ff5959">提交</button></a>
                                </p>
                                </div>
                            </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr></tbody></table>
        </div>
    </div>

    <div class="clear"></div>

    <hr>

    <!-- Footer -->
    <Footer id="navFoot">
        <my-nav></my-nav>
        <my-statistic></my-statistic>
    </Footer>
</body>

<script type="text/JavaScript" src="./utils/headerComp.js"></script>
<script type="text/JavaScript" src="./utils/statisticComp.js"></script>
<script id="yinCangData" type="text/javascript" src="./data/yincang.json"></script>
<script type='text/javascript' src='https://libs.baidu.com/jquery/2.0.0/jquery.min.js'></script> 
<script type="text/JavaScript">
    Vue.component("my-nav", headerComp)
    Vue.component("my-statistic", statisticComp)

    pageTitle = "主页"

    var appNav = new Vue({
        el: "#navHead"
    })


    var appNav = new Vue({
        el: "#navFoot"
    })

    var appAd = new Vue({
        el: "#nd",
        data: {
            message: "其他联系方式：\rWeChat：KareNoNeko\r网易云音乐：KareNoNeko\r新浪微博：香香的鸽子牌柠檬味复读机"
        },
        methods: {
            showMessage: function (event) {
                alert(this.message)
            }
        }
    })

    var appPic = new Vue({
        el: "#picture",
        data: {
            pictures: [
            { src: "images/1.jpg", radioId: "slides_1", title: "【2019年春】人们在看舞龙"},
            { src: "images/2.jpg", radioId: "slides_2", title: "【2016年夏】没有人知道人生的列车开往何处"},
            { src: "images/3.jpg", radioId: "slides_3", title: "【2019年夏】工业与禁锢"},
            { src: "images/4.jpg", radioId: "slides_4", title: "【2018年夏】山雾·天欲雨"}
            ]
        }
    })

    var appMenu = new Vue({
        el: "#menu",
        data: {
            items: [
            {title: "乌有之乡", text: "没有的地方，或者好地方", detail: "[一些项目记录]"},
            {title: "随思乱想", text: "当我在神游时，我在想些什么", detail: "[平日的所思所感]"},
            {title: "浮光掠影", text: "浮光随日度，漾影逐波深", detail: "[读/观后有感]"}
            ]
        }
    })


    let yincangData = ""

    $.getJSON("./data/yincang.json",data=>{console.log(data);yincangData=data})

    var appYincang = new Vue({
        el: "#yinCang",
        data:{
            items: yincangData
        }
    })

    var appSubscribe = new Vue({
        el: "#subscribe",
        data: {
            userName: "",
            userEmail: "",
            contents: ["乌有之乡","随思乱想","浮光掠影"],
            href: "mailto:bingjiaqin@foxmail.com?subject=【Bing16】订阅重要动态&body="
        }
    })

</script>

</html>
