<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Bing16</title>
<link rel="stylesheet" type="text/css" href="css/style.css" media="screen and (min-width:1286px)"/>
<link rel="stylesheet" type="text/css" href="css/mstyle.css" media="screen and (max-width:1285px)"/>
<link rel="stylesheet" href="css/csslider.css" />
<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" media="screen"/>
<script src="https://cdn.bootcss.com/vue/2.5.20/vue.min.js"></script>
</head>

<body>
    <!-- Header -->
    <header id="navHead">
        <my-nav></my-nav>
    </header>

    <!--悬浮窗-->
    <div class="Ad" id="ad">
        <a href="" v-on:click="showMessage"><img src="images/qr.png" width="80px" title="其他联系方式"></a>
    </div>

    <!-- Body -->

    <div class="Intro">
        <!-- 欢迎语 -->
        <div class="IntroBox">
            <h2>你好，欣喜相逢</h2>
            <p><span class="divcss5-x2-r">我就是我</span>。</p>
            <p>这里是我的个人网站，会有一些个人的<span class="divcss5-x2-b">项目记录</span>以及比较<span class="divcss5-x2-y">个人的随感</span>。</p>
            <p>如果你从别的地方找到这里，<span class="divcss5-x2-r">欢迎联系我</span>。</p>
        </div>

        <!-- 照片 -->
        <div class="IntroBox" id="picture"><table width="80%"><tbody><tr><td>
            <div style="padding: 1em 0;">
                <div class="csslider">
                    <input type="radio" name="slides" v-for="picture in pictures" v-if="picture.radioId=='slides_1'" v-bind:id="picture.radioId" checked/>
                    <input type="radio" name="slides" v-for="picture in pictures" v-if="picture.radioId!='slides_1'" v-bind:id="picture.radioId"/>
                    <ul>
                        <li v-for="picture in pictures">
                            <img v-bind:src="picture.src" v-bind:title="picture.title" width="100%">
                        </li>
                    </ul>
                    <div class="arrows">
                        <label v-for="picture in pictures" v-bind:for="picture.radioId"></label>
                    </div>
                    <div class="navigation">
                        <label v-for="picture in pictures" v-bind:for="picture.radioId"></label>
                    </div>
                </div>
            </div>
        </td></tr></tbody></table></div>
    </div>

    <div class="clear"></div>

    <hr>

    <div class="Menu" id="menu">
        <div class="MenuBox" v-for="item in items"><h2>{{item.title}}</h2><p><div v-for="s in item.content">s</div><br><font size="-1">{{item.detail}}</font></p></div>
    </div>

    <hr>

    <div class="Content">
        <div>
        <h2><span class="divcss5-x2-y">内容推荐</span></h2>

        <details id="yinCang" close>
            <summary><h3></h3></summary>
            <ul>
                <li v-for="item in items">
                    <h3>{{item.title}}</h3>
                    <div>{{item.content}}</div>
                    <div align="right"><a target = "_blank" v-bind:href="item.href">more</a></div>
                </li>
            </ul>
        </details>
    </div>
    </div>

    <hr>

    <div class="Subscribe" id="subscribe">
        <div class="Subscribe_box_l">
            <h2><span class="divcss5-x2-r">订阅重要动态</span></h2>
            <p>每当有以下动态时，将会直接发送到你的邮箱：</p>
                    <ul>
                        <li>网站域名变更</li>
                        <li>推出新的网站</li>
                        <li>推出非常值得分享的内容</li>
                    </ul>
        </div>
        <div class="Subscribe_box_r" align="right">
            <table style="margin-top: 6em"><tbody><tr>
                <td></td>
                <td>
                    <table cellpadding="0em" cellspacing="0px" border="0px"><tbody>
                        <tr height="330">
                            <td bgcolor="#F0F0F0" style="padding-left: 2em; padding-top: 0em">
                                <table style="word-wrap:break-word;word-break:break-all;background-color: #ffffff" border="1px"><tbody>
                                    <tr>
                                    <td>
                                        <div style="width: 11em;height: 11em"><div style="font-size: 0.7em">
                                            【Bing16】订阅重要动态<hr>
                                            <div style="margin-left: 0.5em">
                                                用户名：{{userName}}<br>
                                                邮箱：{{userEmail}}<br><br>
                                                订阅主题：<br>
                                                <span v-for="(content,index) in contents" v-if="index!=contents.length-1">{{content}},
                                                </span><span v-for="(content,index) in contents" v-if="index==contents.length-1">{{content}}</span>
                                            </div>
                                        </div></div>
                                    </td>
                                </tr></tbody></table>
                            </td>
                            <td bgcolor="#F0F0F0" style="padding-right: 2.5em; padding-left: 2em; padding-top: 2em">
                                <div style="width: 12em">
                                <p align="left">Name<br><input type="text" placeholder="在这里输入名字喔！" v-model="userName" style="width: 15em"></p>
                                <p align="left">Email<br><input type="text" placeholder="在这里输入邮箱喔！" v-model="userEmail" maxlength="50" style="width: 15em"></p>
                                <p style="font-size: 0.6em">
                                    <input type="checkbox" id="乌有之乡" value="乌有之乡" v-model="contents"/>
                                    <label for="jack">乌有之乡</label>
                                    <input type="checkbox" id="随思乱想" value="随思乱想" v-model="contents"/>
                                    <label for="john">随思乱想</label>
                                    <input type="checkbox" id="浮光掠影" value="浮光掠影" v-model="contents"/>
                                    <label for="mike">浮光掠影</label>
                                </p>
                                <p align="right">
                                    <a v-bind:href="href+'用户名：'+userName+'%0C'+'邮    箱：'+userEmail+'%0C%0C'+'订阅主题：'+'%0C'+contents+'%0C'"><button style="color: #ff5959">提交</button></a>
                                </p>
                                </div>
                            </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr></tbody></table>
        </div>
    </div>

    <div class="clear"></div>

    <hr>

    <!-- Footer -->
    <Footer id="navFoot">
        <my-nav></my-nav>
    </Footer>
    <div align="right"><div align="right" style="font-size: 0.9em; margin-top: -1em; margin-bottom: 1em; color:#AAA; width: 500px">© 2018-2020 <a href="https://bingjiaqin.github.io" style="color: #AAA">Bing16</a>. All rights reserved. <script type="text/javascript">document.write(unescape("%3Cspan id='cnzz_stat_icon_1276882696'%3E%3C/span%3E%3Cscript src='https://s23.cnzz.com/z_stat.php%3Fid%3D1276882696%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script></div></div>
</body>

<script type="text/JavaScript">
    pageTitle = "主页"

    Vue.component("my-nav", {
        data: function() {
            return {
                navs: [
                { title: "主页", style: {width: "72px"}, href: "index.html"},
                { title: "乌有之乡", style: {width: "100px"}, href: "wyzx.html"},
                { title: "随思乱想", style: {width: "100px"}, href: "sslx.html"},
                { title: "浮光掠影", style: {width: "100px"}, href: "fgly.html"},
                { title: "|", style: {width: "20px"}},
                { title: "关于我", style: {width: "70px"}, href: "about.html"}
                ]
            }
        },
        template: '<div><div class="NavLeft"><div class="NavLogo"><img src="images/logo.jpg" width="40px" height="40px"></div><div class="NavName">Bing16</div></div><div class="NavRight"><ul><li class="NavList" v-for="nav in navs" v-bind:style="nav.style"><a v-bind:href="nav.href"><span v-if="nav.title==pageTitle"><span class="rcolor"><span class="divcss5-x2">{{ nav.title }}</span></span></span><span v-else>{{ nav.title }}</span></a></li><li class="NavList" style="width: 40px"><a href="https://github.com/bingjiaqin"><img src="images/github.jpg" width="19px" height="19px" style="margin-top: 5px"></a></li></ul></div><div class="clear"></div></div>'
    })

    var appNav = new Vue({
        el: "#navHead"
    })

    var appNav = new Vue({
        el: "#navFoot"
    })

    var appAd = new Vue({
        el: "#nd",
        data: {
            message: "其他联系方式：\rWeChat：KareNoNeko\r网易云音乐：KareNoNeko\r新浪微博：香香的鸽子牌柠檬味复读机"
        },
        methods: {
            showMessage: function (event) {
                alert(this.message)
            }
        }
    })

    var appPic = new Vue({
        el: "#picture",
        data: {
            pictures: [
            { src: "images/1.jpg", radioId: "slides_1", title: "【2019年春】人们在看舞龙"},
            { src: "images/2.jpg", radioId: "slides_2", title: "【2016年夏】没有人知道人生的列车开往何处"},
            { src: "images/3.jpg", radioId: "slides_3", title: "【2019年夏】工业与禁锢"},
            { src: "images/4.jpg", radioId: "slides_4", title: "【2018年夏】山雾·天欲雨"}
            ]
        }
    })

    var appMenu = new Vue({
        el: "#menu",
        data: {
            items: [
            {title: "乌有之乡", text: "没有的地方，或者好地方", detail: "[一些项目记录]"},
            {title: "随思乱想", text: "当我在神游时，我在想些什么", detail: "[平日的所思所感]"},
            {title: "浮光掠影", text: "浮光随日度，漾影逐波深", detail: "[读/观后有感]"}
            ]
        }
    })

    var appYincang = new Vue({
        el: "#yinCang",
        data:{
            items: [
            {title: "20200531", content: "亲爱的QBJ：最近是逐渐认清了自己，是个充满恶的人，所以总是想自我和解却又在自我厌恶，丝毫没有长进......", href: "xing/20200531.html"},
            {title: "20200411", content: "爱自己，去生活。又一次给刚认识的喜欢的人带来桃花运，您可真行。其实，你应该意识到了，在TH这四年来，你还是没有学会去争取。工作也好，恋爱也罢，都是一样。我是觉得，既然他都能遇到喜欢的人了，我的存在也就没有必要了。但你要知道，这世界并不是缺了谁就不转了的，没有任何一个人离开另一个人后会活不下去。所以没有人会怜悯你。但这或许是你的性格，深深地刻入骨子里的东西，你不想去争些什么，不想去做恶人。你会觉得，公司在面试你的时候早已放弃了你，你会觉得你表白的时候他的犹豫是在等另一个人，或者你又会觉得他在遇到你之前早就有了目标。但人生哪会给你这么多机会啊。不属于你的还是不属于你，你想要的喜欢而不得。世界并不总是顺着你的心意......", href: "xing/20200411.html"},
            {title: "20200323", content: "亲爱的QBJ：亲爱的QBJ：除了感叹人生艰难，似乎就无能为力了。考研失败后开始投递了简历，但四五次面试后才知道找工作也是非常艰难的事情。至今仍没有一份offer。其实所谓的仍有期望，不过是建立在各种很小很小的目标实现的基础上。但目前看起来，似乎有些遥不可及。后来我才知道，我们是同样的人，同样的百分之十，同样的企图在工作中寻找自己，但他们是幸运且优秀的人，乐观开朗且有各种成绩。所以终究还是不一样。我已开始妥协，似乎觉得这一次次失败的面试单纯是浪费时间毫无意义......", href: "xing/20200323.html"},
            {title: "20191031", content: "时至今日，我也不知道该说什么了。说是天命也罢，总该付出努力和奋斗。今天，依旧是单身一人，没有人关心你所关心的那些不值一提的事情，和十二三四岁时一样，独自一人，在午后，畅饮。是啊，依旧是一个人，途中遇到了无数人不过是过客罢了，有一些人第一面即是最后一面，又有一些人自此别过后就再也不会相见。大家不过是各奔前程，各自向着美好的未来。而我，却不知该往何处，能往何处。今天，你得走起来了，加紧脚步，跟上节奏，别再掉链子了。那些该禁止的禁止，该努力的努力，该做的做，一切都才会有......", href: "xing/20191031.html"},
            {title: "20190808", content: "虚假与玩笑不能当饭吃。您今天还是没有明白这个道理吗？您今天是否还记得四天前的计划？ 然而您是否去做了，现如今在追寻着什么虚无缥缈的东西？您且听我说：有些的东西是美好的，但无法强求，得到时他是美好的， 得不到时也罢，但若死命追求，那他怕是成了荒废时间的东西。 回顾这三年多来的生活，你在追求些什么，又做了些什么？ 那些东西给你带来了什么收益吗？ 看看周围的那些人，各个都过得比你好。 是该反思些东西了，虽然事到如今也无济于事。 但总有反思些什么。确实，这种状态可以追溯到很久......", href: "xing/20190808.html"},
            {title: "20181211", content: "这次我决定用电子版写。现在是2018年12月11日14点14分，今天会是美好的一天吗？我不知道，只记得和他聊天的那几天真的非常开心，有这种感觉的上一次应该还是在四五年前吧。是的，真的非常开心，那两天我都起得很早，在宿舍的灯亮了不久的时候，在闹钟响起之前。我以为这种状态会一直持续下去，但这并没有发生。第二天我还是醒得很早，却没有起床，因为我不知道该去迎接什么，是的我不知道。后来大概是持续了二十几天的时间吧，我一直在和另一个心境相似的人交流，虽说相似，不幸的人却各有各的不幸。我还是挺羡慕他的......", href: "xing/20181211.html"},
            ]
        }
    })

    var appSubscribe = new Vue({
        el: "#subscribe",
        data: {
            userName: "",
            userEmail: "",
            contents: ["乌有之乡","随思乱想","浮光掠影"],
            href: "mailto:bingjiaqin@foxmail.com?subject=【Bing16】订阅重要动态&body="
        }
    })

</script>

</html>
