<!doctype html>
<html>

<head>
<meta charset="utf-8">
<title>Bing16/随思乱想</title>
<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" media="screen"/>
<script src="https://cdn.bootcss.com/vue/2.5.20/vue.min.js"></script>
</head>

<body>
    <!-- Header -->
    <header id="navHead">
        <header_form></header_form>
    </header>

    <marquee behavior="scroll" direction="left" class="Info">
        【2021-01-01】当前样式尚未对移动端竖屏设备适配，推荐横屏访问。
    </marquee>

    <div class="IntroMid">
        <div class="IntroBox"><br><h2>随思乱想</h2><p>当我在神游时，我在想些什么。</p></div>
        <div class="IntroBox"></div>
    </div>

    <div  id="sslx">
        <span><sapn v-once v-bind="pageNum = items.length"/></span>

        <div align="right">
            <table><tbody>
                <tr align="center">
                    <td width="50em"><button v-if="pageNum!=1" v-on:click="pageNum -= 1">←</button><button v-else>←</button></td>
                    <td width="100em"><input type="number" v-model="pageNum" v-bind:oninput="'if (value < 1) {value = 1} if (value>'+items.length+') {value = items.length}'" style="width: 2em; text-align: center; font-size: 1em"> / {{ items.length }}</td>
                    <td width="50em"><button v-if="pageNum!=items.length" v-on:click="pageNum += 1">→</button><button v-else>→</button></td>
                    <td><a href="sslx/History.html">history</a></td>
                </tr>
            </tbody></table>
        </div>

        <hr>

        <div class="Content">
            <span v-for="(item, index) in items">
                <span v-if="index+1==pageNum">
                    <h2 id="Content">{{ item.year }}</h2>
                    <h3>{{ item.subTitle }}</h3>
                    <span v-for="list in item.lists">
                        <p><img v-bind:src="list.pic" width="300px" style="padding-left: 2em" /></p>
                        <p v-html='list.content'></p>
                        <p align="right">—— {{ list.time }}</p>
                    </span>
                </span>
            </span>
        </div>

        <div align="right">
            <table><tbody>
                <tr align="center">
                    <td width="50em"><button v-if="pageNum!=1" v-on:click="pageNum -= 1">←</button><button v-else>←</button></td>
                    <td width="100em"><input type="number" v-model="pageNum" v-bind:oninput="'if (value < 1) {value = 1} if (value>'+items.length+') {value = items.length}'" style="width: 2em; text-align: center; font-size: 1em"> / {{ items.length }}</td>
                    <td width="50em"><button v-if="pageNum!=items.length" v-on:click="pageNum += 1">→</button><button v-else>→</button></td>
                    <td><a href="sslx/History.html">history</a></td>
                </tr>
            </tbody></table>
            
        </div>
    </div>

    <!-- 留言 -->
    <br>
    <hr size="2" noshade="noshade" color="#F0F0F0">
    <script src="https://utteranc.es/client.js"
            repo="bingjiaqin/BlogComment"
            issue-term="title"
            label="prod"
            theme="github-light"
            crossorigin="anonymous"
            async>
    </script>

    <!-- Footer -->
    <Footer id="navFoot">
        <header_form></header_form>
        <statistic_form></statistic_form>
    </Footer>
</iframe>

</body>

<script type="text/JavaScript" src="./utils/header.js"></script>
<script type="text/JavaScript" src="./utils/statistic.js"></script>
<script type='text/javascript' src="https://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script> 
<script type="text/JavaScript">
    const pageTitle = "随思乱想"

    var appNav = new Vue({
        el: "#navHead",
        components: {
            "header_form": headerForm
        }
    })


    var appNav = new Vue({
        el: "#navFoot",
        components: {
            "header_form": headerForm,
            "statistic_form": statisticForm
        }
    })


    $.ajaxSetup({async:false})
    let sslxItems = []
    $.getJSON("./data/sslx.json", data=>sslxItems=data)

    var sslx = new Vue({
        el: "#sslx",
        data: {
            pageNum: 0,
            items: sslxItems
        }
    })
</script>

<style type="text/css">
    @import "./css/style.css";
</style>

</html>