<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Bing16/乌有之乡</title>
<link rel="stylesheet" type="text/css" href="css/style.css" media="screen and (min-width:600px)"/>
<link rel="stylesheet" type="text/css" href="css/mstyle.css" media="screen and (max-width:600px)"/>
<link rel="stylesheet" href="css/csslider.css" />
<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" media="screen"/>
<script src="https://cdn.bootcss.com/vue/2.5.20/vue.min.js"></script>
<script type="text/javascript" src="./utils/51la.js"></script>
</head>

<body>
    <!-- Header -->
    <header id="navHead">
        <header_form></header_form>
    </header>

    <marquee behavior="scroll" direction="left" class="Info">
        【2021-01-01】当前样式尚未对移动端竖屏设备适配，推荐横屏访问。
    </marquee>

    <div id="wyzx">
    <div class="Intro">
        <!-- 欢迎语 -->
        <div class="IntroBox" style="position: relative; top: -1em">
            <h2>乌有之乡</h2><p>没有的地方，或者好地方。</p><p>也有人叫他梦，或者梦想。</p>
        </div>

        <div class="IntroBoxBreak"></div>

        <div class="IntroBox" style="position: relative; top: -3em">
            <table width="100%"><tbody><tr><td></td><td width="450em"><table border="0">
                  <tbody>
                    <tr height="100">
                          <td colspan="3" align="center" width="450em">搜索：<input type="search" title="Ctrl+F可搜索本页内容" v-model="key" @change="dosomething()"/><input type="submit" title="提交" value="submit" @click="dosomething()"/><input type="submit" title="取消" value="cancel" @click="cancel()"/></td>
                      </tr>
                    <tr>
                      <td width="150em"><img src="images/1/Machine.png" width="150em" @click="inputTag('machine')"></td>
                      <td width="150em"><img src="images/1/Art.png" width="150em" @click="inputTag('art')"></td>
                      <td width="150em"><img src="images/1/Python.png" width="150em" @click="inputTag('python')"></td>
                    </tr>
                    <tr>
                      <td><img src="images/1/CPP.png" width="150em" @click="inputTag('c++')"></td>
                      <td><img src="images/1/RPI.png" width="150em" @click="inputTag('rpi')"></td>
                      <td><img src="images/1/Arduino.png" width="150em" @click="inputTag('arduino')"></td>
                    </tr>
                    <tr>
                      <td><img src="images/1/Ubuntu.png" width="150em" @click="inputTag('ubuntu')"></td>
                      <td><img src="images/1/ROS.png" width="150em" @click="inputTag('ros')"></td>
                      <td></td>
                    </tr>
                  </tbody>
            </table></td></tr></tbody></table>
        </div>
    </div>

    <div class="clear"></div>
    
    <hr>

    <div>
        <div class="Content">
            <div class="ListBox">
                <span  v-for="(item, index) in wyzxItems">
                    <div class="ItemBox" v-if="index >= 10*(pageNum-1) && index < 10*pageNum">
                        <h3>{{ item.title }}</h3>
                        <p>{{ item.intro }}<div><a v-bind:href="item.href">more</a></div></p>
                    </div>
                </span>
                <p v-show="wyzxItems.length==0">暂无数据</p>
            </div>
        </div>
        <div align="right">
            <table><tbody>
                <tr align="center">
                    <td width="50em"><button v-if="pageNum!=1" v-on:click="pageNum -= 1">←</button><button v-else>←</button></td>
                    <td width="100em"><input type="number" v-model="pageNum" v-bind:oninput="'if (value < 1) {value = 1} if (value>'+Math.max(1, Math.ceil(wyzxItems.length / 10))+') {value = Math.ceil(wyzxItems.length / 10)}'" style="width: 2em; text-align: center; font-size: 0.9em"> / {{ Math.max(1, Math.ceil(wyzxItems.length / 10)) }}</td>
                    <td width="50em"><button v-if="pageNum!=Math.ceil(wyzxItems.length / 10)" v-on:click="pageNum += 1">→</button><button v-else>→</button></td>
                </tr>
            </tbody></table>
            
        </div>
    </div>
</div>

    <hr>

    <!-- 订阅 -->
    <div id="subscribe">
        <subscribe_form></subscribe_form>
    </div>

    <hr>

    <!-- Footer -->
    <Footer id="navFoot">
        <header_form></header_form>
        <statistic_form></statistic_form>
    </Footer>
</body>

<script type="text/JavaScript" src="./utils/header.js"></script>
<script type="text/JavaScript" src="./utils/statistic.js"></script>
<script type="text/JavaScript" src="./utils/subscribe.js"></script>
<script type='text/javascript' src="https://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script> 
<script type="text/JavaScript">
    pageTitle = "乌有之乡"

    let key = ""

    $.ajaxSetup({async:false})
    let sourceWyzxItems = []
    $.getJSON("./data/wyzx.json", data=>sourceWyzxItems=data)

    var appNav = new Vue({
        el: "#navHead",
        components: {
            "header_form": headerForm
        }
    })


    var appNav = new Vue({
        el: "#navFoot",
        components: {
            "header_form": headerForm,
            "statistic_form": statisticForm
        }
    })

    var appSubscribe = new Vue({
        el: "#subscribe",
        components: {
            "subscribe_form": subscribeForm
        }
    })

    var wyzx = new Vue({
        el: "#wyzx",
        data:{
            pageNum: 1,
            wyzxItems: sourceWyzxItems
        },
        methods:{
            dosomething() {
                if (key.length > 0) {
                    this.wyzxItems = sourceWyzxItems.filter(
                        item => item.title.toUpperCase().includes(key.toUpperCase()) 
                        || item.intro.toUpperCase().includes(key.toUpperCase())
                        || (item.tags != null && item.tags.indexOf(key) > -1))
                } else {
                    this.wyzxItems = sourceWyzxItems
                }
                this.pageNum = 1
            },
            inputTag(tag) {
                key = tag
                this.dosomething()
                this.pageNum = 1
            },
            cancel() {
                this.wyzxItems = sourceWyzxItems
                this.pageNum = 1
            }
        }
    })

</script>
</html>
